<section>
  <form [formGroup]="loginForm" class="login-form">
    <h1>Login</h1>
    <mat-form-field appearance="outline">
      <mat-label for="email"> Email </mat-label>
      <input
        matInput
        formControlName="email"
        type="text"
        name="email"
        id="email"
        autocomplete="off"
        required
      />
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        Обязательное поле
      </mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')"> Неправильный Email </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="password"> Password </mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        name="password"
        id="password"
        autocomplete="off"
        required
      />
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        Обязательное поле
      </mat-error>
      <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
        Пароль должен быть не менее 8 символов
      </mat-error>
    </mat-form-field>
    <button mat-flat-button color="primary" [disabled]="loginForm.invalid" (click)="login()">
      Войти
    </button>
  </form>
</section>
