@use '../../../styles/mixins/media-query' as mq;

.sub-row {
  margin-left: 35px;
}
.add-item {
  margin: 15px auto;
}

.list-item {
  span {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: baseline;
  }
}
