.list-line {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 15px;
  margin: 15px 0;
  
  .list-line_column,
  .list-line_icon {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    column-gap: 5px;
    align-items: baseline;
  }
}

.action {
  margin: 15px 0;
}

.list-sub-lines_container {
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}
