<form [formGroup]="formMainEnterprise">
  <mat-form-field appearance="outline">
    <mat-label for="fullName">Полное наименование организации</mat-label>
    <input
      matInput
      formControlName="fullName"
      type="text"
      name="fullName"
      id="fullName"
      autocomplete="off"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label for="shortName">Краткое наименование организации</mat-label>
    <input
      matInput
      formControlName="shortName"
      type="text"
      name="shortName"
      id="shortName"
      autocomplete="off"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label for="INN">ИНН</mat-label>
    <input
      matInput
      formControlName="INN"
      type="number"
      name="INN"
      id="INN"
      autocomplete="off"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label for="KPP">КПП</mat-label>
    <input
      matInput
      formControlName="KPP"
      type="number"
      name="KPP"
      id="KPP"
      autocomplete="off"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label for="founder">Учредитель (ФИО)</mat-label>
    <input
      matInput
      formControlName="founder"
      type="text"
      name="founder"
      id="founder"
      autocomplete="off"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label for="addres">Адрес организаци</mat-label>
    <input
      matInput
      formControlName="addres"
      type="text"
      name="addres"
      id="addres"
      autocomplete="off"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label for="phone">Номер телефона</mat-label>
    <input
      matInput
      formControlName="phone"
      type="text"
      name="phone"
      id="phone"
      autocomplete="off"
      required
    />
  </mat-form-field>
  <button
    color="primary"
    mat-flat-button
    type="button"
    (click)="create(formMainEnterprise.value)"
    [disabled]="formMainEnterprise.invalid"
  >
    Создать
  </button>
</form>
