@use "../styles/colors/variables" as colors;
@use "sass:map";

.container {
  display: flex;
  width: 100vw;
  min-height: calc(100vh - 16vh);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header,
footer {
  height: 8vh;
  display: flex;
  flex-flow: nowrap row;
  background-color: map-get(colors.$light-primary, default);
}
